<footer>
    <div class="full_container_footer">
       <div class="logo_part">
            <img src="../../../../assets/Logo.png">
       </div>

       <div class="navigations">
            <p>Home</p>
            <p>About Us</p>
            <p>Contact</p>
            <p>Gallery</p>
       </div>

       <div class="rights_content">
            <p><i class="pi pi-heart-fill"></i>&nbsp; &nbsp;2020 MOCHA MAGIC &nbsp; ALL RIGHTS RESERVED</p>
       </div>

       <div class="social_links">
            <i class="pi pi-facebook"></i> 
            <i class="pi pi-twitter"></i>
            <i class="pi pi-instagram"></i>
            <i class="pi pi-whatsapp"></i>
       </div>
    </div>
</footer>
